name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Create Firebase Key
        run: |
          echo '${{ secrets.FIREBASE_KEY }}' > ./src/main/resources/firebase-key.json

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle (Run Tests)
        run: ./gradlew clean build

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/wsd-termproject:latest

      - name: Cleanup Remote Config
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            # 이전에 Docker가 빈 파일 바인딩으로 인해 디렉토리로 생성했을 수 있는 경로 삭제 (root 소유 가능성 있음)
            echo "${{ secrets.SERVER_PASSWORD }}" | sudo -S rm -rf /home/${{ secrets.SERVER_USER }}/wsd/logstash
            rm -f /home/${{ secrets.SERVER_USER }}/wsd/docker-compose.prod.yml

      - name: Copy Docker Compose file
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}

          source: "docker-compose.prod.yml,logstash"
          target: "/home/${{ secrets.SERVER_USER }}/wsd"

      - name: Execute Remote Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}

          script: |
            cd /home/${{ secrets.SERVER_USER }}/wsd
            
            # .env 파일 생성 (보안상 중요한 환경변수 주입)
            echo "${{ secrets.ENV_FILE }}" > .env
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> .env
            
            # 배포 실행
            docker-compose -f docker-compose.prod.yml pull
            docker-compose -f docker-compose.prod.yml up -d
            docker image prune -f